#tv-vue
  #map-canvas style="width: 100%; height: 500px"

javascript:
  vue_data = #{{ { inProgress: @game.in_progress?, players: @players, discovered_countries: @game.discovered_countries }.to_json }}
